
{% extends 'layout.html.twig' %}
{% block principal %}
    <div class="row">
        <div class="col-sm-6">
            <h3>Annuaire Bien être depuis 1968 ...</h3>
            <p>
                Donec congue egestas nisi id varius. Curabitur ullamcorper consectetur risus, eget dapibus lacus. Maecenas sit amet dui dictum, tincidunt ante vel, semper purus. In hac habitasse platea dictumst. Vivamus hendrerit sem a rutrum ornare. Donec vehicula auctor eros. Etiam et enim tellus.
            </p>
        </div><!-- /.col-* -->
    </div><!-- /.row -->
{% endblock %}
