<div class="bg-primary">
    <ul class="header-nav-primary nav nav-pills navbar-collapse" aria-expanded="false">
        <li><a href="#">services</a> </li>
        <li><a href="#">promotion</a> </li>
        <li><a href="#">stage</a> </li>
        <li><a href="#">Profil</a> </li>
    </ul>
</div>