{% extends '::Index.html.twig' %}
{% block bandeau %}{% endblock %}

{% block principal %}
    <h1>Liste des services</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>description</th>
            <th>Utilisateurs</th>
            <th>détail</th>
        </tr>
        </thead>
        <tbody>
        {% for s in servicesValides %}
            <tr>
                <td>{{ s.nom}}</td>
                <td>{{ s.description }}</td>
                <td>prestataire</td>
                <td class=""><a href="{{ url('show_service',{'slug' : s.slug}) }}"><i class="fa  fa-search"></i>prestataire</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# navigation de la pagination #}
    <div class="navigation">
        {{ knp_pagination_render(servicesValides) }}
    </div>
{% endblock %}