{% extends '::Index.html.twig' %}
{% block bandeau %}{{ parent() }}{% endblock %}
{% block recherche %}
    <div class="container">
        <h1 class="text-capitalize text-secondary">détail du service</h1>
        <table class="table table-hover">
            <tr class="row">
                <th class="col-sm-3">désignation du service</th>
                <th class="col-sm-9">Description</th>
            </tr>
            <tr class="row">
                <td class="col-sm-3">{{ categorieService.nom }}</td>
                <td class="col-sm-9">{{ categorieService.description }}</td>
            </tr>
        </table>
    </div><!-- /.container -->
{% endblock %}
{% block prestataires %}{% endblock %}
